{% macro contribution_form() %}
<form method="post">
    <div class="form" id="form_contri">
        <div class ="info">    
            <input type="text" name="name" placeholder="Nome">
            <input type="text" name="value_to_contribute" placeholder="Valor a contribuir">
            <input type="text" name="message" placeholder="Mensagem para os noivos..." style="height:60px">
        </div>

        <!-- <div class="transfer_type">
            <img src="{{ url_for('static', filename='images/mbway_logo.png')}}" class="transfer_type_images">
            <div> MB Way: mbway1 | mbway2 </div>
        </div> -->

        <div class="transfer_type">
            <img src="{{ url_for('static', filename='images/transfer_logo.png')}}" class="transfer_type_images">
            <div>  IBAN: PT50 0023 0000 4565 3441 7849 4 </div>
        </div>
        <br>
        
        <button class ="accept" id="contribute">Contribuir</button>
    </div>
</form>
{% endmacro %}