$brand-success: #5cb85c;
$loader-size: 8em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($check-width - $check-width/8);
$check-top: ($check-height - $check-width/8);
$check-thickness: 5px;
$check-color: $brand-success;

.circle-loader {
    margin-bottom: $loader-size/2;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
}

.load-complete {
    animation: none;
    border-color: $check-color;
    transition: 500ms ease-out;
}

.checkmark {
    display: none;
    transition: 500ms;

    &.draw:after {
        animation-duration: 800ms;
        animation-timing-function: ease;
        animation-name: checkmark;
        transform: scaleX(-1) rotate(135deg);
    }

    &:after {
        opacity: 1;
        height: $check-height;
        width: $check-width;
        transform-origin: left top;
        border-right: $check-thickness solid $check-color;
        border-top: $check-thickness solid $check-color;
        content: '';
        left: $check-left;
        top: $check-top;
        position: absolute;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }
    40% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
    100% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
}

.unfolding_circles_loader {
    /* The loader */
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        
        width: 200px;
        height: 200px;
        
        margin-top: -100px;
        margin-left: -100px;
        
        perspective: 600px;
        transform-style: perserve-3d;
    }
    
    /* The dots */
    .dots {
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        
        perspective: 600px;
        transform-style: perserve-3d;
        
        animation: dots 6000ms cubic-bezier(0,0,1,1) infinite;
    }
    
    /* The dot */
    .dot {
        position: absolute;
        top: 50%;
        left: 50%;
        
        width: 20px;
        height: 20px;
        
        margin-top: -10px;
        margin-left: -10px;
        
        border-radius: 999px;
        
        background-color: #1e3f57;
        
        transform-style: perserve-3d;
        
        animation: dot 1500ms cubic-bezier(.7,.05,.39,.88) infinite;
    }
    
    .dot:nth-child(1) {
        transform: translateY(-40px);
    }
    
    .dot:nth-child(2) {
        transform: translateX(-20px) translateY(-20px);
        animation-name: dot2;
    }
    
    .dot:nth-child(3) {
        transform: translateX(20px) translateY(-20px);
        animation-name: dot3;
    }
    
    .dot:nth-child(4) {
        transform: translateX(-40px) translateY(0px);
        animation-name: dot4;
    }
    
    .dot:nth-child(5) {
        transform: translateX(0px) translateY(0px);
        animation-name: dot5;
    }
    
    .dot:nth-child(6) {
        transform: translateX(40px) translateY(0px);
        animation-name: dot6;
    }
    
    .dot:nth-child(7) {
        transform: translateX(-20px) translateY(20px);
        animation-name: dot7;
    }
    
    .dot:nth-child(8) {
        transform: translateX(20px) translateY(20px);
        animation-name: dot8;
    }
    
    .dot:nth-child(9) {
        transform: translateX(0px) translateY(40px);
        animation-name: dot9;
    }
}


@keyframes dots {
    0%, 15% {
    transform: rotateZ(0deg);
    }
    25%, 40% {
    transform: rotateZ(90deg);
    }
    50%, 65% {
    transform: rotateZ(180deg);
    }
    75%, 90% {
    transform: rotateZ(270deg);
    }
    100% {
    transform: rotateZ(360deg);
    }
}

@keyframes dot {
    0% {
    transform: translateX(0) translateY(-40px);
    }
    10%, 20% {
    transform: translateX(20px) translateY(-20px);
    }
    30%, 50% {
    transform: translateX(0px) translateY(0px);
    }
}

@keyframes dot2 {
    0% {
    transform: translateX(-20px) translateY(-20px);
    }
    10%, 55% {
    transform: translateX(0px) translateY(0px);
    }
}

@keyframes dot4 {
    0% {
    transform: translateX(-40px) translateY(0px);
    }
    10%, 30% {
    transform: translateX(-20px) translateY(20px);
    }
    40%, 65% {
    transform: translateX(0px) translateY(0px);
    }
}

@keyframes dot6 {
    0%, 10% {
    transform: translateX(40px) translateY(0px);
    }
    20% {
    transform: translateX(20px) translateY(-20px);
    }
    30%, 70% {
    transform: translateX(0px) translateY(0px);
    }
}

@keyframes dot8 {
    0%, 10% {
    transform: translateX(20px) translateY(20px);
    }
    20%, 80% {
    transform: translateX(0px) translateY(0px);
    }
}

@keyframes dot9 {
    0%, 10% {
    transform: translateX(0px) translateY(40px);
    }
    20%, 30% {
    transform: translateX(-20px) translateY(20px);
    }
    40%, 85% {
    transform: translateX(0px) translateY(0px);
    }
}

@keyframes dot3 {
    0%, 20% {
    transform: translateX(20px) translateY(-20px);
    }
    30%, 60% {
    transform: translateX(0px) translateY(0px);
    }
}

@keyframes dot7 {
    0%, 30% {
    transform: translateX(-20px) translateY(20px);
    }
    40%, 75% {
    transform: translateX(0px) translateY(0px);
    }
}

.carousel-container{
	width: 100vw;
	.carousel-inner{
		left: 0px;
		overflow: visible;
		.carousel-cell{
			position: absolute;
			z-index: 10;
		}
	}
}