@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

@font-face {
    font-family: 'BallingerMono';
    src: url(../fonts/Ballinger/BallingerMono-Black.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BallingerMono';
    src: url(../fonts/Ballinger/BallingerMono-Bold.otf) format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'BallingerMono';
    src: url(../fonts/Ballinger/BallingerMono-Medium.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BallingerMono';
    src: url(../fonts/Ballinger/BallingerMono-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BallingerMono';
    src: url(../fonts/Ballinger/BallingerMono-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BallingerMono';
    src: url(../fonts/Ballinger/BallingerMono-Thin.otf) format('opentype');
    font-weight: 100;
    font-style: normal;
}
