body{
  font-family: 'BallingerMono', "HelveticaNeue-Light", sans-serif;
}

.background_overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}

.fit_image {
  width: 100%;
  height: 100%;
}

.progressBar{
  border-radius: $border-radius;
  background-color: #a7adbf;
  display: flex;
  justify-content: flex-start;
  height: 1.6rem;
  font-weight: 100;

  .progressBar_fill{
    display: flex;
    justify-content: flex-end;
    background-color: $primary-color-shade;
    border-radius: $border-radius;
    transition: 0.5s ease-in-out;
    align-items: center;

    .progressBar_item{
      height: 80%;
      background: white;
      border-radius: 5px;
      aspect-ratio: 1 / 1;
      margin: 0px 2.5px 0 0;
      display: none;
    }
  }
}

.appearing{
  opacity: 0;
  transition: 1.5s ease-in-out!important;
}

.active{
  opacity: 1;
  transform: translateX(0);
  transition: 1.5s ease-in-out!important;
}

.progressBar_text{
  color: white;
  font-size: 1rem;
  position: relative;
  top: -1.55rem;
  height: 0;
  right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
}

.index{
  .first_page{
    height: 100svh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    @include size-query(large) {
      background-image: url(../images/index_background.jpg);
    }
    @include size-query(small) {
      background-image: url(../images/index_background_phone.jpg);
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .first_page_content{
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      height: 100svh;
      @include size-query(large) {
        padding-bottom: 4rem;
        padding-right: 1rem;
      }
      @include size-query(small) {
        padding: 0 1rem 2rem 1rem;
        width: 100%;
      }
    }

    .first_page_title{
      @include size-query(large) {
        font-size: 5rem;
      }
      @include size-query(small) {
        font-size: 3rem;
      }
      line-height: 1.2em;
      text-shadow: 0.5px 0.5px #6f7070;
    }

    .first_page_title_image{
      width: 100%;
      @include size-query(large) {
        max-width: 45rem;
      }
    }

    .first_page_date{
      @include size-query(large) {
        font-size: 2.2rem;
      }
      @include size-query(small) {
        font-size: 1.4rem;
      }
      line-height: 1.2em;
      text-align: end;
      font-family: 'BallingerMono', sans-serif;
    }
  }
  .second_page{
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    @include size-query(large) {
      background-image: url(../images/church.jpg);
    }
    @include size-query(small) {
      height: 100svh;
      background-image: url(../images/church_phone.jpg);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .information_block{
      font-size: 2rem;
      color: white;
      width: 100%;
      text-align: center;

      @include size-query(large) {
        padding: 5rem 2rem;
      }
    }

    .content_right{
      width: 100%;
      display: flex;
      @include size-query(large) {
        justify-content: flex-end;
      }
      @include size-query(small) {
        justify-content: center;
      }
    }

    .content_left{
      width: 100%;
      display: flex;
      @include size-query(large) {
        justify-content: flex-start;
      }
      @include size-query(small) {
        justify-content: center;
      }
    }

    .information_container{
      @include size-query(large) {
        width: 50%;
      }
      @include size-query(small) {
        width: 100%;
      }
    }
  }

  button {
    color: $primary-color;
    background-color: $secondary-color;
    border: 0.2rem solid $primary-color;
    border-radius: $border-radius;
    height: 5rem;
    width: 10rem;
    font-size: 1.4rem;
    transition: 0.5s !important;
  }

  button:hover {
    color: $secondary-color;
    background-color: $primary-color;
    box-shadow: $box-shadow;
  }
}

.frontend_page{
  z-index: -1;
  position: absolute;
}

.products_all_background{
  background-color: rgb(202,202,202);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
  z-index: -10;
  position: fixed;
  height: 100svh;
  width: 100vw;
  background-size: cover;
  @include size-query(large) {
    background-position: center;
  }
}

.confirmation_background{
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
  z-index: -10;
  position: fixed;
  height: 100svh;
  width: 100vw;
  background-position: center;
  @include size-query(small) {
    background: black;
  }
  @include size-query(large) {
    background: rgb(202,202,202);
  }
}

.faqs_background{
  background-image: url(../images/faqs_background.jpg);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
  z-index: -10;
  position: fixed;
  height: 100svh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.informations_background{
  background-color: rgb(202,202,202);
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
  z-index: -10;
  position: fixed;
  height: 100svh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.products_all{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  
  @include size-query(large) {
    height: 100svh;
  }

  .wedding_logo{
    @include size-query(large) {
      width: 15%;
      padding-top: 5rem;
    }
    @include size-query(small) {
      width: 50%;
    }
  }

  .wedding_logo img{
    width: 100%;
  }

  .products_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    @include size-query(large) {
      width: 90%;
      flex-direction: row;
    }
    @include size-query(small) {
      width: 100%;
      flex-direction: column;
    }

    .product_card{
      margin: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      aspect-ratio: 5/6;
      transition: 0.25s;
      overflow: hidden;
      @include size-query(large) {
        width: 30%;
        max-width: 22.5rem;
      }
      @include size-query(small) {
        width: 75%;
        max-width: 17.5rem;
      }
    }

    .product_card:hover{
      box-shadow: 19px 18px 20px rgba(0, 0, 0, 0.12), 11px 13px 15px rgba(0, 0, 0, 0.24);
      transform: scale(1.025);
    }

    .product_link{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $primary-color;
    }

    .product_image_container{
      height: 65%;
      width: 100%;
    }

    .product_info_container{
      height: 35%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .product_image{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius;

      .fit_image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .product_name{
      padding: 0.75rem;
      width: 100%;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }

    .product_price{
      padding: 0 0.75rem;
      width: 100%;
      font-size: 0.9rem;
      font-weight: 600;

      .euro_symbol{
        color: #4c65b8;
      }
    }

    .product_contribute{
      margin: 1rem 0.75rem;
      display: flex;
      background: white;
      justify-content: center;
      height: 3rem;
      align-items: center;
      border-radius: $border-radius;
      transition: 250ms;
      border: 1px solid $mariaemiguel-color;
      color: $mariaemiguel-color;

      .contribute_button{
        padding: 0.4rem;
        letter-spacing: .2rem;
      }
    }

    .product_contribute:hover{
      @include size-query(large) {
        background: $mariaemiguel-color;
        color: white;
      }
    }
  }
  .already_paid{
    .product_card{
      filter: grayscale(100%);
    }

    .product_contribute{
      display: none;
    }
  }
}

.products_product{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  
  @include size-query(large) {
    height: 100svh;
  }

  .cards_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: $border-radius;
    @include size-query(large) {
      height: 65%;
      width: 80%;
      background-color: rgba(255, 255, 255, 0.8);
    }
    @include size-query(small) {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.2rem 0;
      background-color: rgba(205, 205, 205, 0.8);
    }
  }
  
  .fit_image {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    object-fit: cover;
  }

  .fit_image_chevron {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
  }

  .products_info{

    display: flex;
    flex-direction: column;
    align-items: center;

    @include size-query(small) {
      margin-top: 4rem;
    }

    .product_name{
      padding: 0.5rem;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }

    .product_description{
      margin: 0 1.2rem 1.2rem 1.2rem;
      color: rgb(100,100,100);
      font-size: 0.9rem;
    }

    .product_price{
      padding: 0 0.75rem;
      width: 100%;
      font-size: 1.1rem;
      font-weight: 200;
    }

    .transfer_type{
      padding: 1rem 0 0 0;
      width: 100%;
      font-size: 0.9rem;
      font-weight: 200;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;

      .transfer_type_images{
        height: 100%;
        aspect-ratio: 1/1;
      }
    }

    .product_image{
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: $border-radius;
      display: flex;
      justify-content: center;

      .hidden_image{
        display: none;
      }

      .image_shown{
        display: block;
      }

      .previous_picture_button_container{
        position: relative;
        left: 10%;
        min-width: 10%;
        min-height: 10%;
        transition: 250ms;
      }

      .previous_picture_button_container:hover{
        transform: scale(1.05);
      }

      .next_picture_button_container{
        position: relative;
        right: 10%;
        min-width: 10%;
        min-height: 10%;
      }

      .next_picture_button_container:hover{
        transform: scale(1.05);
      }

    }
  }

  .contribution_container{
    padding: 2rem;
    border-radius: 5px;
    
    @include size-query(large) {
      width: 45%;
      background: rgba(255, 255, 255, 0.9);
    }
    @include size-query(small) {
      width: 100%;
    }
  }

  .contribution_done_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100svh;
    width: 80%;
    justify-content: center;
  }

  .contribution_thank_you{
    font-size: 1.4rem;
    opacity: 0;
    transition: 500ms;
    text-align: center;
  }
}

.confirmations_confirmation{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100svh;

  .confirmation_thank_you{
    font-size: 1.4rem;
    opacity: 0;
    transition: 500ms;
    text-align: center;
  }

  .confirmation_done_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100svh;
    width: 80%;
    justify-content: center;
  }

  .confirmation_card_container{
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;

    .confirmation_card{
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: $border-radius;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: 250ms;

      .wedding_logo{
        @include size-query(large) {
          width: 20%;
        }
        @include size-query(small) {
          width: 50%;
        }
      }
    
      .wedding_logo img{
        width: 100%;
      }

      @include size-query(large) {
        width: 75%;
        height: 65%;
        box-shadow: $box-shadow;
      }
      @include size-query(small) {
        width: 100%;
        height: 100%;
      }

      .confirmation_image_container{
        height: 100%;
        width: 45%;
        @include size-query(small) {
          display: none;
        }

        .fit_image{
          width: 100%;
          height: 100%;
          border-radius: $border-radius 0 0 $border-radius;
          object-fit: cover;
        }
      }
      
      .confirmation_form_container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'BallingerMono', sans-serif;
        
        @include size-query(large) {
          width: 55%;
        }
        @include size-query(small) {
          width: 100%;
        }

        .confirmation_form{
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .confirmation_input_container_row{
            width: 100%;
            display: flex;
            justify-content: space-around;

            @include size-query(small) {
              flex-direction: column;
            }
            @include size-query(large) {
              flex-direction: row;
            }

            .confirmation_input{
              width: 100%;
              margin: 0.25rem;
            }
          }
        }
      }
    }
  }
}

.faqs_faqs{
  height: 100svh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 6rem;

  .q_and_a_container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    background: #fff;
    margin-bottom: 0.5em;
  }

  .question_container {
    display: flex;
    justify-content: space-between;
    column-gap: 0.2em;
    align-items: center;
  }
  
  .item-icon {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex: 0 0 25px;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background: #dedede;
    cursor: pointer;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  }
  .item-icon i {
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
  .item-question {
    font-size: 1em;
    line-height: 1;
    font-weight: 500;
    margin: 1rem;
  }
  
  .active .item-icon i {
    transform: rotate(180deg);
  }
  
  .active .item-question {
    font-weight: 500;
  }
  
  .answer_container {
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease;
  }
  
  .item-answer {
    line-height: 150%;
    opacity: 0.8;
  }
  
  .accordion-content {
    padding-top: 6rem;
    max-width: 570px;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(255, 254, 254, 0.8);
    box-shadow: $box-shadow;
    border-radius: 8px;
  }
  
}

.informations_informations{
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;

  @include size-query(large){
    align-items: center;
  }
  @include size-query(small){
    padding-left: 2rem;
  }

  .timeline{
    width: 0.3rem;
    background: rgb(15,142,153);
    border-radius: $border-radius;
  }

  .card{
    @include size-query(large){
      width: 25rem;
      aspect-ratio: 5/6;
    }
    @include size-query(small){
      width: 17.5rem;
      aspect-ratio: 2/3;
    }
    margin: 2.5rem;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    box-shadow: $box-shadow;

    .image_content{
      width: 100%;

      @include size-query(large){
        height: 80%;
      }
      @include size-query(small){
        height: 70%;
      }
    }

    .fit_image{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius $border-radius 0 0;
    }

    .description_content{
      width: 100%;
      
      @include size-query(large){
        height: 20%;
        padding: 1rem;
      }
      @include size-query(small){
        height: 30%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .title{
        font-size: 1.2rem;
        color: $primary-color;
      }

      .info{
        color: $primary-color-shade;
      }
    }
  }

  .card:nth-child(even){
    @include size-query(large) {
      left: -30rem;
    }
  }

  .card::after{
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background: rgb(15,142,153);
    border-radius: 50%;
  }

  .card:nth-child(odd)::after{
    left: -2.45rem;
    @include size-query(large) {
      transform: translateX(-0.5rem);
    }
    @include size-query(small) {
      left: -2.5rem;
      transform: translateX(-0.45rem);
    }
  }

  .card:nth-child(even)::after{
    @include size-query(large) {
      right: -2.5rem;
      transform: translateX(0.75rem);
    }
    @include size-query(small) {
      left: -2.5rem;
      transform: translateX(-0.45rem);
    }
  }

  .hotels_container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    @include size-query(large) {
      width: 75%;
    }
    @include size-query(small) {
      width: 90%;
    }

    .hotels_cards_container{
      display: flex;
      width: 100%;
      @include size-query(large) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      @include size-query(small) {
        flex-direction: column;
      }
    }

    .hotels_header{
      font-size: 1.6rem;
      color: $primary-color;
    }

    .hotel_card{
      border-radius: $border-radius;
      background-color: white;
      box-shadow: $box-shadow;
      padding: 1.5rem;
      margin: 1rem;
      aspect-ratio: 5/6;

      @include size-query(large) {
        width: 20rem;
      }
      @include size-query(small) {
        width: 17.5rem;
      }

      .title{
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary-color;
        text-transform: uppercase;
      }

      .info{
        padding: 0.5rem;
        .info_line{
          margin: 0.25rem;
          
          .label{
            font-weight: bold;
            color: $primary-color;
          }
        }
      }
    }

    .hotel_card:nth-child(odd){
      @include size-query(large) {
        transform: translateY(1.5rem);
      }
      @include size-query(small) {
        margin-left: 1rem;
      }
    }
  }
}
