$secondary-color: #72919e;
$tertiary-color: #F9D949;
$fourth-color: #F45050;

$gray: #36383e;
$light-gray: #acb0ba;
$lighter-gray: #e5eaf2;
$cover-color: #384970;
$dark-blue: #1779a3;
$light-blue: #9cd7e8;

$gray-shade: #475373;

$box-shadow: 0px 14px 22px -9px #9db9d0, 4px 3px 10px rgba(0, 0, 0, 0.24);
$box-shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$border-radius: 5px;
