$secondary-color: #72919e;
$tertiary-color: #F9D949;
$fourth-color: #F45050;

$gray: #0B132B;
$light-gray: #acb0ba;
$lighter-gray: #e5eaf2;
$cover-color: #1C2541;
$dark-blue: #3A506B;
$light-blue: #324858;

$main-background-color: #88A9C3;

$gray-shade: #475373;

$box-shadow: 0px 14px 22px -9px #9db9d0, 4px 3px 10px rgba(0, 0, 0, 0.24);
$box-shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$border-radius: 5px;
