.navbar {
    width: 100%;
    position: fixed;
    z-index: 1000;

    @include size-query(large) {
        height: 4rem;
        background: transparent;
        transition: backgroundColor 0.3s ease-in-out;
    }

    @include size-query(small) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.navbar_items_container {
    width: 100%;
    margin: 0;
    padding: 0;
    color: $primary-color;

    @include size-query(large) {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.2rem;
    }

    @include size-query(small) {
        display: none;
        width: 85%;
        background: white;
        box-shadow: $box-shadow;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: $border-radius;
        font-size: 1rem;
    }
}

.navbar_items_container.show {
    display: flex;
}

.navbar_item {
    border-bottom: 2px solid rgba(0, 0, 0, 0);

    @include size-query(large) {
        padding: 0.25rem;
    }

    @include size-query(small) {
        padding: 1rem;
    }
}

.navbar_item:hover {
    border-bottom: 2px solid white;
    color: white;
}

.navbar_item.active {
    border-bottom: 2px solid;
    font-weight: 500;
}

.navbar_toggler {
    margin: 0;
    padding: 1rem 0rem;
    border: none;
    background: transparent !important;
}

.icon_bar {
    display: block;
    height: 0.35rem;
    border-radius: 0.3rem;
    width: 3rem;
    background-color: black;
    transition: all 0.25s;
    transform-origin: 10% 10%;
    transform: rotate(0);
    margin: 0.5rem;
}

.navbar_toggle_container {
    @include size-query(large) {
        display: none;
    }

    @include size-query(small) {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

.navbar_toggler.collapsed .icon_bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    height: 0.3rem;
}

.navbar_toggler.collapsed .icon_bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar_toggler.collapsed .icon_bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    height: 0.3rem;
}
