# Ignore database files
database.db

# Ignore Python cache directories
__pycache__/
.webassets-cache

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

#Ignore mac files
.DS_Store