.disp-none {
  display: none; }

  .input-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    @media (max-width: 940px) {
      .input-box {
        width: 100%;
        margin: 0.75rem 0;   }
}
      @media (min-width: 940px) {
        .input-box {
          margin: 1rem 0;   }
}
        .input-box .input-label {
          position: absolute;
          color: #A8AEB3;
          font-size: 1.2rem;
          font-weight: 300;
          max-width: calc(100% - (2 * 8px));
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          left: 0.8rem;
          top: calc(1.75rem - 1.2rem);
          transition: 250ms;
          user-select: none;
          pointer-events: none;
          padding: 0 0.5rem 0 0.5rem; }
          @media (max-width: 940px) {
            .input-box .input-label {
              font-size: 1rem;
              top: 0.35rem;   }
}
            .input-box .input-label svg {
              position: relative;
              width: 3rem;
              height: 2rem;
              top: 2px;
              transition: 250ms; }
              .input-box .input-label .cover_line {
                height: 2px;
                width: 100%;
                display: block;
                background: white;
                position: absolute;
                top: 0.6rem;
                left: 0;
                z-index: 1;
                display: none; }
    .input-box .input-1 {
      box-sizing: border-box;
      height: 3rem;
      width: 100%;
      border-radius: 5px;
      color: #202124;
      border: 2px solid #e8e9ea;
      padding: 1rem 1.6rem;
      font-size: 1rem; }
      .input-box .input-1:hover {
        border: 2px solid #d1d4d7; }
        .input-box .input-1:focus {
          outline: none;
          border: 2px solid #6299b0; }
          @media (max-width: 940px) {
            .input-box .input-1 {
              height: 2rem;
              font-size: 0.8rem;   }
}
    .input-box textarea {
      height: 12rem !important; }

.for_checkbox {
  width: 12.5rem; }
  .for_checkbox input {
    cursor: pointer; }

.slider_container {
  width: 100%; }
  @media (max-width: 940px) {
    .slider_container {
      transform: scale(0.8);   }
}

.checkbox {
  position: relative;
  z-index: 10; }

  .checkbox-label {
    width: 50%; }

    .for_checkbox input {
      opacity: 0; }
      .for_checkbox input, .for_checkbox input:after, .for_checkbox input:before,
      .for_checkbox input *, .for_checkbox input *:after, .for_checkbox input *:before,
      .for_checkbox input + .slider {
        box-sizing: border-box;
        background: #fbfbfb;
        border-radius: 2em;
        padding: 2px;
        transition: all 0.4s ease;
        border: 1px solid #e8eae9; }
        .for_checkbox input::selection, .for_checkbox input:after::selection,
        .for_checkbox input:before::selection, .for_checkbox input *::selection,
        .for_checkbox input *:after::selection, .for_checkbox input *:before::selection,
        .for_checkbox input + .slider::selection {
          background: none; }
      .for_checkbox input + .slider {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: absolute;
        cursor: pointer;
        user-select: none;
        top: 0.5em;
        right: 2em;
        z-index: 1; }
        .for_checkbox input + .slider:after, .for_checkbox input + .slider:before {
          position: relative;
          display: block;
          content: "";
          width: 50%;
          height: 100%; }
          .for_checkbox input + .slider:after {
            left: 0;
            border-radius: 2em;
            background: #fbfbfb;
            transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease,
                        margin 0.3s ease;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08); }
            .for_checkbox input + .slider:before {
              display: none; }
      .for_checkbox input:checked + .slider:after {
        left: 50%; }
        .for_checkbox input:checked + .slider {
          background: #6299b0; }
          .for_checkbox input:checked + .slider:active {
            box-shadow: none; }
            .for_checkbox input:checked + .slider:active:after {
              margin-left: -0.8em; }

.input-box.focus .label-invalid, .input-box.active .label-invalid {
  color: #dc3545 !important; }
  .input-box.focus .label-valid, .input-box.active .label-valid {
    color: #28a745 !important; }
    .input-box.focus .input-label, .input-box.active .input-label {
      color: #6299b0;
      top: -0.6rem;
      background: rgba(255, 255, 255, 0);
      font-size: 0.8rem;
      transition: 250ms; }
      .input-box.focus .input-label svg, .input-box.active .input-label svg {
        position: relative;
        width: 11px;
        height: 11px;
        top: 2px;
        transition: 250ms; }
        .input-box.focus .input-label .label, .input-box.active .input-label .label {
          z-index: 10;
          position: relative; }
          .input-box.focus .input-label .cover_line,
          .input-box.active .input-label .cover_line {
            display: block; }

.submit_button {
  display: flex;
  background: #6299b0;
  justify-content: center;
  height: 3rem;
  align-items: center;
  border-radius: 5px;
  transition: 250ms;
  padding: 0.4rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  outline: 0;
  border: 0;
  width: 100%; }
  @media (min-width: 940px) {
    .submit_button:hover {
      background: #a6c8d1;   }
}
  @media (max-width: 940px) {
    .submit_button {
      height: 2.5rem;   }
}

ul li {
  list-style-type: none; }

  a, a:hover, a:visited {
    text-decoration: none;
    color: inherit; }

    label {
      margin: 0; }

      .navbar {
        width: 100%;
        position: fixed;
        z-index: 1000; }
        @media (min-width: 940px) {
          .navbar {
            height: 4rem;
            background: transparent;
            transition: backgroundColor 0.3s ease-in-out;   }
}
          @media (max-width: 940px) {
            .navbar {
              display: flex;
              flex-direction: column;
              align-items: center;   }
}

.navbar_items_container {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #474a52; }
  @media (min-width: 940px) {
    .navbar_items_container {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      font-size: 1.2rem;   }
}
    @media (max-width: 940px) {
      .navbar_items_container {
        display: none;
        width: 85%;
        background: white;
        box-shadow: 0px 14px 22px -9px #bbcbd8, 4px 3px 10px rgba(0, 0, 0, 0.24);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        font-size: 1rem;   }
}

.navbar_items_container.show {
  display: flex; }

  .navbar_item {
    border-bottom: 2px solid transparent; }
    @media (min-width: 940px) {
      .navbar_item {
        padding: 0.25rem;   }
}
      @media (max-width: 940px) {
        .navbar_item {
          padding: 0.25rem;
          margin: 0.75rem 0;   }
}

.navbar_item:hover {
  border-bottom: 2px solid white;
  color: white; }

  .navbar_item.active {
    border-bottom: 2px solid;
    font-weight: 500; }

    .navbar_toggler {
      margin: 0;
      padding: 0.25rem 0rem;
      border: none;
      background: transparent !important; }

      .icon_bar {
        display: block;
        height: 0.23rem;
        border-radius: 0.3rem;
        width: 2rem;
        background-color: white;
        transition: all 0.25s;
        transform-origin: 10% 10%;
        transform: rotate(0);
        margin: 0.27rem; }

        @media (min-width: 940px) {
          .navbar_toggle_container {
            display: none;   }
}
          @media (max-width: 940px) {
            .navbar_toggle_container {
              display: flex;
              justify-content: flex-end;
              width: 100%;   }
}

.navbar_toggler.collapsed .icon_bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  height: 0.3rem; }

  .navbar_toggler.collapsed .icon_bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0); }

    .navbar_toggler.collapsed .icon_bar:nth-of-type(3) {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
      height: 0.3rem; }

      .circle-loader {
        margin-bottom: 4em;
        border: 5px solid rgba(0, 0, 0, 0.2);
        border-left-color: #6299b0;
        animation: loader-spin 1.2s infinite linear;
        position: relative;
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        width: 8em;
        height: 8em; }

        .load-complete {
          animation: none;
          border-color: #6299b0;
          transition: 500ms ease-out; }

          .checkmark {
            display: none;
            transition: 500ms; }
            .checkmark.draw:after {
              animation-duration: 800ms;
              animation-timing-function: ease;
              animation-name: checkmark;
              transform: scaleX(-1) rotate(135deg); }
              .checkmark:after {
                opacity: 1;
                height: 4em;
                width: 2em;
                transform-origin: left top;
                border-right: 5px solid #6299b0;
                border-top: 5px solid #6299b0;
                content: '';
                left: 1.75em;
                top: 3.75em;
                position: absolute; }

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);   }
    100% {
      transform: rotate(360deg);   }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;   }
    20% {
      height: 0;
      width: 2em;
      opacity: 1;   }
      40% {
        height: 4em;
        width: 2em;
        opacity: 1;   }
        100% {
          height: 4em;
          width: 2em;
          opacity: 1;   }
}

@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("/static/fonts/skia.tff"); }

  @font-face {
    font-family: "HelveticaNeue-Regular";
    src: url("/static/fonts/HelveticaNeueLight.tff"); }

    @font-face {
      font-family: "Manuscript";
      src: url("/static/fonts/BrittanySignature.tff"); }

      body {
        font-family: 'HelveticaNeue-Light', 'HelveticaNeue-Regular';
        font-weight: normal;
        color: #474a52; }

        #loading-overlay {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: #a6c8d1;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 9999; }

          .loader span {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: white;
            margin: 0 2px;
            animation: wave 1.2s infinite ease-in-out; }

            .loader span:nth-child(2) {
              animation-delay: -1.1s; }

              .loader span:nth-child(3) {
                animation-delay: -1s; }

                @keyframes wave {
                  0%, 60%, 100% {
                    transform: translateY(0);   }
                    30% {
                      transform: translateY(-15px);   }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer .alert {
    margin: 0; }

.border {
  border: none !important;
  border-radius: 0%; }

  .new_bold {
    font-weight: 500; }

    .alert.flash_warning {
      position: static; }

      .background_overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 2;
        cursor: pointer; }

        .fit_image {
          width: 100%;
          height: 100%; }

          .progressBar {
            border-radius: 5px;
            background-color: white;
            display: flex;
            justify-content: flex-start;
            height: 1.6rem;
            font-weight: 100; }
            .progressBar .progressBar_fill {
              display: flex;
              justify-content: flex-end;
              background-color: #a6c8d1;
              border-radius: 5px;
              transition: 0.5s ease-in-out;
              align-items: center; }
              .progressBar .progressBar_fill .progressBar_item {
                height: 80%;
                background: white;
                border-radius: 5px;
                aspect-ratio: 1 / 1;
                margin: 0px 2.5px 0 0;
                display: none; }

.appearing {
  opacity: 0;
  transition: 1s ease-in-out !important; }

  .active {
    opacity: 1; }

    .progressBar_text {
      color: #474a52;
      font-size: 1rem;
      position: relative;
      top: -1.55rem;
      height: 0;
      right: 0.5rem;
      display: flex;
      justify-content: flex-end;
      font-weight: 200; }

      .index .first_page {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll; }
        @media (min-width: 940px) {
          .index .first_page {
            background-image: url(../images/kikalu.webp);   }
}
          @media (max-width: 940px) {
            .index .first_page {
              background-image: url(../images/kikalu_mobile.webp);
              display: flex;
              align-items: flex-start;
              flex-direction: row;
              justify-content: space-between;   }
}
            .index .first_page .first_page_content {
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              align-items: flex-start; }
              @media (min-width: 940px) {
                .index .first_page .first_page_content {
                  padding-top: 4rem;
                  padding-left: 5rem;
                  color: #32363f;   }
}
                @media (max-width: 940px) {
                  .index .first_page .first_page_content {
                    padding: 1rem;
                    width: 100%;
                    margin-top: 2.5rem;
                    color: white;   }
}
        .index .first_page .first_page_title {
          line-height: 1.2em;
          text-shadow: 0.5px 0.5px #6f7070; }
          @media (min-width: 940px) {
            .index .first_page .first_page_title {
              font-size: 4.5rem;   }
}
            @media (max-width: 940px) {
              .index .first_page .first_page_title {
                font-size: 2.5rem;   }
}
        .index .first_page .first_page_date {
          line-height: 1.2em;
          text-shadow: 0.5px 0.5px #6f7070; }
          @media (min-width: 940px) {
            .index .first_page .first_page_date {
              font-size: 2.5rem;
              display: flex;   }
}
            @media (max-width: 940px) {
              .index .first_page .first_page_date {
                font-size: 2rem;
                text-align: left;   }
                .index .first_page .first_page_date .pipe {
                  display: none;   }
}
      .index button {
        color: #474a52;
        background-color: #72919e;
        border: 0.2rem solid #474a52;
        border-radius: 5px;
        height: 5rem;
        width: 10rem;
        font-size: 1.4rem;
        transition: 0.5s !important; }
        .index button:hover {
          color: #72919e;
          background-color: #474a52;
          box-shadow: 0px 14px 22px -9px #bbcbd8, 4px 3px 10px rgba(0, 0, 0, 0.24); }

.frontend_page {
  z-index: -1;
  position: absolute; }

  .products_all_background {
    background-color: #a6c8d1;
    z-index: -10;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center; }

    .confirmation_background {
      background-color: #a6c8d1;
      z-index: -10;
      position: fixed;
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center; }

      .faqs_background {
        background-color: #a6c8d1;
        z-index: -10;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position: center; }

        .informations_background {
          background-color: #a6c8d1;
          z-index: -10;
          position: fixed;
          height: 100vh;
          width: 100vw;
          background-size: cover;
          background-position: center; }

          .products_all {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw; }
            @media (min-width: 940px) {
              .products_all {
                height: 100vh;   }
}
              .products_all .products_container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5rem 0;
                flex-wrap: wrap;
                width: 100%; }
                @media (min-width: 940px) {
                  .products_all .products_container {
                    flex-direction: row;
                    padding: 5rem 3rem;   }
}
                  @media (max-width: 940px) {
                    .products_all .products_container {
                      flex-direction: column;   }
}
                    .products_all .products_container .product_card {
                      margin: 1rem;
                      background-color: rgba(255, 255, 255, 0.75);
                      box-shadow: 0px 14px 22px -9px #bbcbd8, 4px 3px 10px rgba(0, 0, 0, 0.24);
                      border-radius: 5px;
                      transition: 0.25s;
                      overflow: hidden; }
                      @media (min-width: 940px) {
                        .products_all .products_container .product_card {
                          width: 30%;
                          max-width: 22.5rem;
                          aspect-ratio: 2 / 3;   }
}
                        @media (max-width: 940px) {
                          .products_all .products_container .product_card {
                            width: 75%;
                            max-width: 17.5rem;   }
}
                .products_all .products_container .product_card:hover {
                  box-shadow: 19px 18px 20px rgba(0, 0, 0, 0.12), 11px 13px 15px rgba(0, 0, 0, 0.24);
                  transform: scale(1.025); }
                  .products_all .products_container .product_link {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #474a52; }
                    .products_all .products_container .product_image_container {
                      height: 65%;
                      width: 100%; }
                      .products_all .products_container .product_info_container {
                        height: 35%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around; }
                        @media (max-width: 940px) {
                          .products_all .products_container .product_info_container {
                            padding-bottom: 0.5rem;   }
}
                .products_all .products_container .product_image {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 5px; }
                  .products_all .products_container .product_image .fit_image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; }
                .products_all .products_container .product_name {
                  padding: 0.75rem;
                  width: 100%;
                  font-size: 1rem;
                  font-weight: bold;
                  text-transform: uppercase; }
                  .products_all .products_container .product_price {
                    padding: 0 0.75rem;
                    width: 100%;
                    font-size: 0.9rem;
                    font-weight: 600; }
                    .products_all .products_container .product_price .euro_symbol {
                      color: #4c65b8; }
                .products_all .products_container .product_contribute {
                  margin: 1rem 0.75rem;
                  display: flex;
                  background: #94a2c9;
                  justify-content: center;
                  height: 3rem;
                  align-items: center;
                  border-radius: 5px;
                  transition: 250ms;
                  background-color: #6299b0;
                  margin-top: 2rem;
                  cursor: pointer; }
                  .products_all .products_container .product_contribute .contribute_button {
                    padding: 1rem 1.5rem;
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem; }
                    @media (min-width: 940px) {
                      .products_all .products_container .product_contribute:hover {
                        background-color: #a6c8d1;   }
}
                  .products_all .products_container .product_contribute:focus {
                    outline: none; }
            .products_all .already_paid {
              padding-top: 0; }
              .products_all .already_paid .product_card {
                filter: grayscale(100%); }
                .products_all .already_paid .product_contribute {
                  display: none; }

.products_product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; }
  @media (min-width: 940px) {
    .products_product {
      padding-top: 8rem;   }
}
    .products_product .cards_container {
      display: flex;
      align-items: stretch;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px; }
      @media (min-width: 940px) {
        .products_product .cards_container {
          width: 80%;
          padding: 2rem 3rem;
          justify-content: space-between;
          gap: 2rem;   }
}
        @media (max-width: 940px) {
          .products_product .cards_container {
            width: 100%;
            flex-direction: column;
            padding: 1.2rem 0;
            justify-content: flex-start;   }
}
  .products_product .fit_image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover; }
    .products_product .fit_image_chevron {
      width: 100%;
      height: 100%;
      border-radius: 5px; }
      .products_product .products_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        @media (max-width: 940px) {
          .products_product .products_info {
            padding: 3rem 2rem 0 2rem;
            gap: 0.5rem;   }
}
          .products_product .products_info .product_name {
            padding: 0.5rem 0;
            width: 100%;
            font-size: 1.2rem;
            font-weight: 800;
            text-transform: uppercase; }
            .products_product .products_info .product_description {
              color: #646464;
              font-size: 0.9rem; }
              .products_product .products_info .product_price {
                width: 100%;
                font-size: 1.1rem;
                font-weight: 200; }
                .products_product .products_info .product_price .progressBar {
                  margin-top: 1rem;
                  height: 2rem; }
                  .products_product .products_info .product_price .progressBar_text {
                    top: -1.75rem; }
        .products_product .products_info .transfer_type {
          padding: 1rem 0 0 0;
          width: 100%;
          font-size: 0.9rem;
          font-weight: 200;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 700; }
          .products_product .products_info .transfer_type .transfer_type_images {
            height: 100%;
            aspect-ratio: 1 / 1; }
        .products_product .products_info .product_image {
          width: 20rem;
          height: 20rem;
          object-fit: cover;
          border-radius: 5px;
          display: flex;
          justify-content: center; }
          .products_product .products_info .product_image .hidden_image {
            display: none; }
            .products_product .products_info .product_image .image_shown {
              display: block; }
              .products_product .products_info .product_image .previous_picture_button_container {
                position: relative;
                left: 10%;
                min-width: 10%;
                min-height: 10%;
                transition: 250ms; }
                .products_product .products_info .product_image .previous_picture_button_container:hover {
                  transform: scale(1.05); }
                  .products_product .products_info .product_image .next_picture_button_container {
                    position: relative;
                    right: 10%;
                    min-width: 10%;
                    min-height: 10%; }
                    .products_product .products_info .product_image .next_picture_button_container:hover {
                      transform: scale(1.05); }
  .products_product .contribution_container {
    padding: 2rem;
    border-radius: 5px; }
    @media (min-width: 940px) {
      .products_product .contribution_container {
        width: 60%;
        background: rgba(255, 255, 255, 0.9);   }
}
      @media (max-width: 940px) {
        .products_product .contribution_container {
          width: 100%;   }
}
        .products_product .contribution_container form {
          padding-bottom: 2rem; }
  .products_product .contribution_done_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80%;
    justify-content: center; }
    .products_product .contribution_thank_you {
      font-size: 1.4rem;
      opacity: 0;
      transition: 500ms;
      text-align: center;
      color: white; }

.confirmations_confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; }
  @media (min-width: 940px) {
    .confirmations_confirmation {
      padding-top: 25vh;   }
}
    .confirmations_confirmation .confirmation_thank_you {
      font-size: 1.4rem;
      opacity: 0;
      transition: 500ms;
      text-align: center;
      color: white; }
      .confirmations_confirmation .confirmation_done_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 80%;
        justify-content: center; }
        .confirmations_confirmation .confirmation_card_container {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center; }
          @media (max-width: 940px) {
            .confirmations_confirmation .confirmation_card_container {
              width: 100%;
              height: 100vh;   }
}
            .confirmations_confirmation .confirmation_card_container .confirmation_card {
              background-color: white;
              border-radius: 5px;
              display: flex;
              flex-direction: row;
              transition: 250ms; }
              @media (min-width: 940px) {
                .confirmations_confirmation .confirmation_card_container .confirmation_card {
                  box-shadow: 0px 14px 22px -9px #bbcbd8, 4px 3px 10px rgba(0, 0, 0, 0.24);   }
                  .confirmations_confirmation .confirmation_card_container .confirmation_card .show_title_mobile {
                    display: none;   }
}
              @media (max-width: 940px) {
                .confirmations_confirmation .confirmation_card_container .confirmation_card {
                  width: 100%;
                  height: 100%;
                  flex-direction: column;
                  background-color: rgba(255, 255, 255, 0.5);
                  justify-content: flex-start;   }
                  .confirmations_confirmation .confirmation_card_container .confirmation_card .show_title_mobile {
                    font-family: bradley hand;
                    font-size: 32px;   }
}
              .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_image_container {
                width: 40%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                overflow: hidden; }
                @media (max-width: 940px) {
                  .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_image_container {
                    height: 100vh;
                    background-color: white;
                    width: 100%;   }
}
                  .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_image_container .fit_image {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 5px 0;
                    object-fit: cover;
                    object-position: right bottom; }
                    @media (max-height: 670px) and (max-width: 400px) {
                      .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_image_container .fit_image {
                        object-fit: contain;   }
}
              .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; }
                @media (min-width: 940px) {
                  .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container {
                    width: 60%;   }
}
                  @media (max-width: 940px) {
                    .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container {
                      width: 100%;
                      height: auto;
                      justify-content: flex-start;   }
                      .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container div {
                        margin: 0.25rem;   }
}
                .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .confirmation_form {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 2rem; }
                  @media (max-width: 940px) {
                    .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .confirmation_form {
                      padding-top: 3rem;   }
}
                    .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .confirmation_form .confirmation_input_container_row {
                      width: 100%;
                      display: flex; }
                      @media (max-width: 940px) {
                        .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .confirmation_form .confirmation_input_container_row {
                          flex-direction: column;   }
}
                        @media (min-width: 940px) {
                          .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .confirmation_form .confirmation_input_container_row {
                            flex-direction: row;   }
}
                          .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .confirmation_form .confirmation_input_container_row .confirmation_input {
                            width: 100%;
                            margin: 0.25rem; }
                            .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .confirmation_form .confirmation_input_container_row .toggle {
                              width: fit-content !important; }
                .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .contribution_button button {
                  padding: 1rem 1.5rem;
                  background-color: #6299b0;
                  margin-top: 2rem; }
                  .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .contribution_button button:hover {
                    background-color: #a6c8d1; }
                    .confirmations_confirmation .confirmation_card_container .confirmation_card .confirmation_form_container .contribution_button button:focus {
                      outline: none; }

.faqs_faqs {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 6rem; }
  .faqs_faqs .q_and_a_container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    background: #fff;
    margin-bottom: 0.5em; }
    .faqs_faqs .question_container {
      display: flex;
      justify-content: space-between;
      column-gap: 0.2em;
      align-items: center; }
      .faqs_faqs .item-icon {
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex: 0 0 25px;
        display: grid;
        place-items: center;
        font-size: 1.25rem;
        height: 25px;
        width: 25px;
        border-radius: 4px;
        background: #d8deea;
        cursor: pointer;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09); }
        .faqs_faqs .item-icon i {
          transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1); }
          .faqs_faqs .item-question {
            font-size: 1em;
            line-height: 1;
            font-weight: 500;
            margin: 1rem 0; }
            .faqs_faqs .active .item-icon i {
              transform: rotate(180deg); }
              .faqs_faqs .active .item-question {
                font-weight: 500; }
                .faqs_faqs .answer_container {
                  max-height: 0;
                  overflow: hidden;
                  transition: all 300ms ease; }
                  .faqs_faqs .item-answer {
                    line-height: 150%;
                    opacity: 0.8; }
                    .faqs_faqs .accordion-content {
                      padding-top: 6rem;
                      max-width: 570px;
                      margin: 0 auto;
                      padding: 2rem;
                      background: rgba(255, 254, 254, 0.75);
                      box-shadow: 0px 14px 22px -9px #bbcbd8, 4px 3px 10px rgba(0, 0, 0, 0.24);
                      border-radius: 8px;
                      color: #474a52; }
                      .faqs_faqs .accordion-content h2 {
                        margin-bottom: 2rem; }

.informations_informations {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem; }
  @media (min-width: 940px) {
    .informations_informations {
      align-items: center;   }
}
    @media (max-width: 940px) {
      .informations_informations {
        padding-left: 2rem;   }
}
      .informations_informations .timeline {
        width: 0.3rem;
        background: #6299b0;
        border-radius: 5px; }
        .informations_informations .card {
          margin: 2.5rem;
          background: white;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 0;
          box-shadow: 0px 14px 22px -9px #bbcbd8, 4px 3px 10px rgba(0, 0, 0, 0.24); }
          @media (min-width: 940px) {
            .informations_informations .card {
              width: 25rem;   }
}
            @media (max-width: 940px) {
              .informations_informations .card {
                width: 17.5rem;   }
}
              .informations_informations .card .image_content {
                width: 100%; }
                @media (min-width: 940px) {
                  .informations_informations .card .image_content {
                    height: 100%;   }
}
                  @media (max-width: 940px) {
                    .informations_informations .card .image_content {
                      height: 70%;   }
}
          .informations_informations .card .fit_image {
            width: 100%;
            object-fit: cover;
            object-position: top;
            border-radius: 5px 5px 0 0; }
            .informations_informations .card .description_content {
              width: 100%; }
              @media (min-width: 940px) {
                .informations_informations .card .description_content {
                  padding: 1rem;
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;   }
}
                @media (max-width: 940px) {
                  .informations_informations .card .description_content {
                    height: 30%;
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;   }
}
                  .informations_informations .card .description_content p {
                    margin: 0; }
                    .informations_informations .card .description_content .title {
                      color: #474a52; }
                      @media (min-width: 940px) {
                        .informations_informations .card .description_content .title {
                          font-size: 1.8rem;   }
}
                        @media (max-width: 940px) {
                          .informations_informations .card .description_content .title {
                            font-size: 1.5rem;   }
}
              .informations_informations .card .description_content .icon_text {
                display: flex;
                gap: 0.7rem; }
                @media (min-width: 940px) {
                  .informations_informations .card .description_content .icon_text {
                    font-size: 1.3rem;   }
}
                  @media (max-width: 940px) {
                    .informations_informations .card .description_content .icon_text {
                      font-size: 1.1rem;
                      padding: 0.5rem 0;   }
}
                    .informations_informations .card .description_content .icon_text span {
                      display: flex;
                      align-items: center; }
              .informations_informations .card .description_content .info {
                padding-top: 0.5rem;
                font-size: 1rem;
                color: #6299b0;
                cursor: pointer; }
                .informations_informations .card .description_content .info:hover {
                  text-decoration: underline; }
  @media (min-width: 940px) {
    .informations_informations .card:nth-child(even) {
      left: -30rem;   }
}
  .informations_informations .card::after {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background: #6299b0;
    border-radius: 50%; }
    .informations_informations .card:nth-child(odd)::after {
      left: -2.5rem; }
      @media (min-width: 940px) {
        .informations_informations .card:nth-child(odd)::after {
          transform: translateX(-0.5rem);   }
}
        @media (max-width: 940px) {
          .informations_informations .card:nth-child(odd)::after {
            left: -2.5rem;
            transform: translateX(-0.45rem);   }
}
  @media (min-width: 940px) {
    .informations_informations .card:nth-child(even)::after {
      right: -2.5rem;
      transform: translateX(0.75rem);   }
}
    @media (max-width: 940px) {
      .informations_informations .card:nth-child(even)::after {
        left: -2.5rem;
        transform: translateX(-0.45rem);   }
}
  .informations_informations .hotels_container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column; }
    @media (min-width: 940px) {
      .informations_informations .hotels_container {
        width: 75%;   }
}
      @media (max-width: 940px) {
        .informations_informations .hotels_container {
          width: 90%;   }
}
        .informations_informations .hotels_container .hotels_cards_container {
          display: flex;
          width: 100%; }
          @media (min-width: 940px) {
            .informations_informations .hotels_container .hotels_cards_container {
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-around;   }
}
            @media (max-width: 940px) {
              .informations_informations .hotels_container .hotels_cards_container {
                flex-direction: column;   }
}
    .informations_informations .hotels_container .hotels_header {
      font-size: 1.6rem;
      color: #474a52; }
      .informations_informations .hotels_container .hotel_card {
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 14px 22px -9px #bbcbd8, 4px 3px 10px rgba(0, 0, 0, 0.24);
        padding: 1.5rem;
        margin: 1rem;
        aspect-ratio: 5 / 6; }
        @media (min-width: 940px) {
          .informations_informations .hotels_container .hotel_card {
            width: 20rem;   }
}
          @media (max-width: 940px) {
            .informations_informations .hotels_container .hotel_card {
              width: 17.5rem;   }
}
            .informations_informations .hotels_container .hotel_card .title {
              font-size: 1.2rem;
              font-weight: bold;
              color: #474a52;
              text-transform: uppercase; }
              .informations_informations .hotels_container .hotel_card .info {
                padding: 0.5rem; }
                .informations_informations .hotels_container .hotel_card .info .info_line {
                  margin: 0.25rem; }
                  .informations_informations .hotels_container .hotel_card .info .info_line .label {
                    font-weight: bold;
                    color: #474a52; }
    @media (min-width: 940px) {
      .informations_informations .hotels_container .hotel_card:nth-child(odd) {
        transform: translateY(1.5rem);   }
}
      @media (max-width: 940px) {
        .informations_informations .hotels_container .hotel_card:nth-child(odd) {
          margin-left: 1rem;   }
}
