{% extends 'layout.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/faqs.js')}}" defer></script>

<div class="informations_background"></div>
<div class="informations_informations">
    <div class="timeline">
        <div class="card">
            <div class="image_content">
                <img src="{{url_for('static',filename='images/{value}'.format(value = client.church_image_path))}}" alt="Church" class="fit_image">
            </div>
            <div class="description_content">
                <div class="title"> {{client.church_location_name}} </div>
                <div class="info"><a href="{{client.church_location_url}}">Ver mapa</a></div>
            </div>
        </div>
        <div class="card">
            <div class="image_content">
                <img src="{{url_for('static',filename='images/{value}'.format(value = client.party_image_path))}}" alt="Party" class="fit_image">
            </div>
            <div class="description_content">
                <div class="title"> {{client.party_location_name}} </div>
                <div class="info"><a href="{{client.party_location_url}}">Ver mapa</a></div>
            </div>
        </div>
    </div>
    {% if hotels %}
    <div class="hotels_container">
        <h2 class="hotels_header"> Onde ficar?</h2>
        <div class="hotels_cards_container">
            {% for hotel in hotels %}
                <div class="hotel_card">
                    <div class="title">{{hotel.name}}</div>
                    <div class="info">
                        <div class="info_line">
                            {% if hotel.adress %}<span class="label">Morada:</span> <br> {{hotel.adress}}{% endif %}
                        </div>
                        <div class="info_line">
                            {% if hotel.email %}<span class="label">Email:</span> <br> {{hotel.email}}{% endif %}
                        </div>
                        <div class="info_line">
                            {% if hotel.phone %}<span class="label">Telefone:</span> <br> {{hotel.phone}}{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}