{% extends 'layout.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/faqs.js')}}" defer></script>

<div class="informations_background"></div>
<div class="informations_informations">
    <div class="timeline">
        <div class="card">
            <div class="image_content">
                <img src="../../static/images/church.webp" alt="Church" class="fit_image">
            </div>
            <div class="description_content">
                <div class="title">Cerimónia | 14:30</div>
                <div>
                    <div class="icon_text">
                        <span class="fa fa-church" aria-hidden="true"></span>
                        <p>Igreja São José das Taipas</p>
                    </div>
                    <p>A Igreja localiza-se na baixa do Porto, logo depois do tribunal, junto ao jardim da Cordoaria.
                        Têm o parque de estacionamento Palácio da Justiça mesmo em frente à Igreja.</p>
                    <div class="info"><a href="https://maps.app.goo.gl/QMMqEStkpZUxNsCv9">Ver mapa</a></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image_content">
                <img src="../../static/images/party.webp" alt="Party" class="fit_image">
            </div>
            <div class="description_content">
                <div class="title">Copo d'Água</div>
                <div>
                    <div class="icon_text">
                        <span class="fa fa-glass-martini" aria-hidden="true"></span>
                        <p>Torre Bella</p>
                    </div>
                    <p>A Quinta da Torre Bella fica a 14 minutos da Igreja. Têm parque de estacionamento, mas parece-nos
                        a distância ótima para quem preferir ir de Uber.
                    </p>
                    <div class="info"><a href="https://maps.app.goo.gl/5gSFNvKRpjwHRng17">Ver mapa</a></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image_content">
                <img src="../../static/images/dresscode.webp" alt="Church" class="fit_image">
            </div>
            <div class="description_content">
                <div class="title">Dress Code</div>
                <div>
                    <div class="icon_text">
                        <span class="fa fa-user-tie" aria-hidden="true"></span>
                        <p>Fato escuro</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if hotels %}
    <div class="hotels_container">
        <h2 class="hotels_header"> Onde ficar?</h2>
        <div class="hotels_cards_container">
            {% for hotel in hotels %}
            <div class="hotel_card">
                <div class="title">{{hotel.name}}</div>
                <div class="info">
                    <div class="info_line">
                        {% if hotel.adress %}<span class="label">Morada:</span> <br> {{hotel.adress}}{% endif %}
                    </div>
                    <div class="info_line">
                        {% if hotel.email %}<span class="label">Email:</span> <br> {{hotel.email}}{% endif %}
                    </div>
                    <div class="info_line">
                        {% if hotel.phone %}<span class="label">Telefone:</span> <br> {{hotel.phone}}{% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
