{% extends 'layout.html' %}
{% import 'macros/hotels.html' as hotel_cards %}

{% block content %}
<div class="index">
    <div class="first_page">
        <div class="first_page_content">
            <div class="first_page_title">
                <div><img src="{{ url_for('static', filename='images/title.png') }}" alt="Title Picture"  class="first_page_title_image"></div>
                <!-- <b> {{ client.main_title }} </b> -->
            </div>
            <div class="first_page_date">
                {% set datetime = client.get_formatted_datetime() %}
                <div> {{ datetime[0] }} | {{ datetime[1] }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}