{% extends 'layout.html' %}
{% import 'macros/hotels.html' as hotel_cards %}

{% block content %}
<div class="index">
    <div class="first_page">
        <div class="first_page_content">
            <div class="first_page_title">
                <div> {{ client.main_title }} </div>
            </div>
            <div class="first_page_date">
                {% if client %}
                <div>{{ client.get_formatted_datetime() }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
