{% extends 'layout.html' %}
{% import 'macros/products.html' as product_macro %}

{% block content %}
<div class="products_all_background"></div>
<div class="products_all appearing frontend_page">
    <div class="wedding_logo"><img src="{{url_for('static',filename='images/logo.png')}}" alt=""></div>
    <div class="products_container">
        {% for product in products %}
            {{product_macro.card(product, False)}}
        {% endfor %}
    </div>
    <div class="products_container already_paid">
        {% for product in products_paid %}
            {{product_macro.card(product, True)}}
        {% endfor %}
    </div>
</div>
{% endblock %}