{% extends 'layout.html' %}
{% import 'macros/products.html' as product_macro %}

{% block content %}
<div class="products_all_background"></div>
<div class="products_all appearing frontend_page">
    <div class="products_header">
        <h2> O nosso livro de poemas <br> (Lista de Presentes)</h2>
        <div class="products_comment">
            Queridos Amigos e Família, como queríamos dar algum significado a esta lista de presentes, 
            e tornar toda a generosidade recebida numa coisa memorável, decidimos fazer uma lista de Poemas.
            Este Livro será impresso com os nomes de toda a gente que para ele contribuir, e ficará eternizado na nossa casa. 
            Cada pessoa poderá ajudar com (ou oferecer) um verso, uma quadra, ou um poema inteiro. 
            Os Poemas têm um valor, mencionado na respetiva página, e falam sobre coisas que queremos muito ter, 
            assim como sobre o porquê de tanto as querermos! 
            Muito obrigado a todos por verem este nosso 'livro'!
        </div>
    </div>
    {% for chapter in chapters %}
        <div class="chapter_container">
            <div class="chapter_name">{{chapter.name}}</div>
            <div class="products_container">
                {% for product in chapter.products_not_paid() %}
                    {{product_macro.card(product, False)}}
                {% endfor %}
            </div>
            <div class="products_container already_paid">
                {% for product in chapter.products_paid() %}
                    {{product_macro.card(product, True)}}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}