{% extends 'layout.html' %}
{% import 'macros/animations.html' as loader_checkmark %}

{% block content %}
<div class="confirmation_background"></div>
<div class="confirmations_confirmation appearing frontend_page">
    <div class="confirmation_done_container">
        <div class="contribution_loader_animation">
            {{loader_checkmark.loader_checkmark()}}
        </div>
        <div class="confirmation_thank_you">
            Muito obrigado pela confirmação!
        </div>
    </div>
</div>
{% endblock %}
